services:
  frontend:
    build:
      dockerfile: Dockerfile
      args:
        MONGODB_URI: ${MONGODB_URI}
        AUTH_SECRET: ${AUTH_SECRET}
        AUTH_GOOGLE_ID: ${AUTH_GOOGLE_ID}
        AUTH_GOOGLE_SECRET: ${AUTH_GOOGLE_SECRET}
        RESEND_API_KEY: ${RESEND_API_KEY}
        STRIPE_SECRET_KEY: ${STRIPE_SECRET_KEY}
        STRIPE_WEBHOOK_SECRET: ${STRIPE_WEBHOOK_SECRET}
        NEXT_PUBLIC_SERVER_URL:  ${NEXT_PUBLIC_SERVER_URL}  
    ports:
      - "3000:3000"
    env_file:
      - .env
  
  mongo:
    image: mongo:7
    ports:
      - "27017:27017"
    env_file:
      - ./mongo/.env
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data: